* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	font-family: "Myriad Pro", "Lucida Sans", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background: #999;
}

#container {
	width: 100%;
}

#content {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	margin-top: 5px;
	text-align: center;
	vertical-align:baseline;
	font-size: 12pt;
}

#status {
	text-align: center;
	font-size: 12pt;
	background: #fff;
	padding-bottom: 50px;
}

tr.oddrow td{
	background: #ffcccc;
}

tr.evenrow td{
	background: #fff;
}

.red {
	color: red;
}

.leftalign {
	text-align: left;
	padding-left: 10px;
}

.rightalign {
	text-align: right;
	padding-right: 10px;
}

.centeralign {
	vertical-align: top;
	height: 4px;
}

.bold {
	font-weight: bold;
}

